.row {
    width: $grid-width;
    margin: 0 auto;
    background-color: aliceblue;
    justify-content: flex-start;

    &:not(:last-child){
        margin-bottom: $margin-y;
    }

    [class^="col-"] {
        justify-self: center;
        background-color: burlywood;

        &:not(:last-child) {
            margin-right: $margin-x;
        }
    }
}

.col-1-of-2 {
    width: calc((100% - #{$margin-x}) / 2);
}

.col-1-of-3 {
    width: calc((100% - (#{$margin-x} * 2)) / 3);
}
.col-2-of-3 {
    width: calc((2 *(100% - (#{$margin-x} * 2)) / 3) + #{$margin-x} );
}

.col-1-of-4 {
    width: calc((100% - (#{$margin-x} * 3)) / 4);
}
.col-2-of-4 {
    width: calc((2 *(100% - (#{$margin-x} * 3)) / 4) + #{$margin-x});
}
.col-3-of-4 {
    width: calc((3 *(100% - (#{$margin-x} * 3)) / 4) + 2 * #{$margin-x});
}

.col-1-of-5 {
    width: calc((100% - (#{$margin-x} * 4)) / 5);
}
.col-2-of-5 {
    width: calc((2 *(100% - (#{$margin-x} * 4)) / 5) + #{$margin-x});
}
.col-3-of-5 {
    width: calc((3 *(100% - (#{$margin-x} * 4)) / 5) + 2 * #{$margin-x});
}
.col-4-of-5 {
    width: calc((4 *(100% - (#{$margin-x} * 4)) / 5) + 3 * #{$margin-x});
}