.header {
    top: 0;
    left: 0;
    background-color: $color-white;

    &__container{
        position: relative;
        max-width: $default-width;

    }

    &__top{
        position: relative;
        height: 20vh; align-items: center;
        justify-content: center;        
        font-weight: 400;

        &__logo-box{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            text-align: center;
        }

        &__logo{
            padding: $default-padding;            
        }

        &__contacts-box{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            justify-content: space-around;

            &__contact-container{
                font-size: 1.3rem;
                align-items: center;

                &__icon-box{
                    color: $color-primary;
                    font-size: 2.4rem;                    
                    text-align: center;
                    border: .1rem solid $color-secondary-1; 
                    border-radius: .3rem;
                    padding: .6rem;
                    background-color: $color-secondary-2;                                     
                }

                &__text-area{
                    text-align: start;
                    width: 64%;
                    margin-left: .6rem;
                }
            }
        }
    }

    &__bottom{
        background-color: $bg-primary-color-1;
        font-size: 1.6rem;
        padding: 0 6rem;
        

        &--navigation{
            color: $color-white;
            align-items: center;
        }

            /*&--links{
                color: $color-white;
                padding: 0 2rem;

            :active{
                color: $color-primary;
            }
            }
        }

        &--call-box{
            background-color: $bg-primary-color-2;
            padding: 2rem;
            align-content: flex-end;

            &__text {
                color: $color-white;
            }
        }*/
    }
}